@import "vars";

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Roboto;
    height: 100%;
}

a {
    text-decoration: none;
    color: $accent;
}

a.blogpost {
    color: #000;
}

a.blogpost:hover {
    color: $accent;
}

a:hover {
    text-decoration: underline;
}

.item {
    padding: 10px 0;
}

.item .date {
    padding: 0 0 0 50px
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 10%);
    border-bottom: 1px solid rgba(255, 255, 255, 30%);
}

/*
 * Navbar
 */

#author-name {
    font-size: 30px;
    color: #272727;
    display: inline-block;
}

.navbar {
    padding: 50px 0;
}

.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0;
    margin-left: 20px;
}

.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px;
}

.alignable {
    display: inline-block;
}

.pull-left {
    @extend .alignable;

    float: left;
}

.pull-right {
    @extend .alignable;

    float: right;
}

/* Divs */

.container {
    max-width: $max-width;
    margin: auto;
}

.wrapper {
    min-height: 100%;
}

/* Mobile */

@media (width <= 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (width <= 650px) {
    .container {
        max-width: 83%;
    }

    .navbar-ul {
        margin-top: 5px;
    }
}

@media (width <= 580px) {
    #author-name {
        display: inline-block;
    }
}

/* Blog post bottom spacing */
.blog-navigation {
    margin-top: 50px;
    margin-bottom: 80px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 10%);
}

.blog-navigation .prev,
.blog-navigation .next {
    display: inline-block;
    width: 48%;
}

.blog-navigation .next {
    text-align: right;
}

/* Add bottom margin to post content */
.post-content {
    margin-bottom: 60px;
    padding-bottom: 80px;
    color: #444;
    line-height: 1.6;
    
    p {
        margin-bottom: 1em;
    }
    
    h1, h2, h3, h4, h5, h6 {
        color: #333;
        line-height: 1.4;
        margin-top: 1.25em;
        margin-bottom: 0.6em;
    }
    
    h1 {
        margin-top: 0;
    }
    
    ul, ol {
        margin-bottom: 1em;
    }
    
    li {
        margin-bottom: 0.4em;
    }
}

@import "typography";
@import "tables";
@import "highlight";
